/************************************/
/* HEADER SECTION */
/************************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6eff7;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 6.2rem;
}

/************************************/
/* NAVIGATION */
/************************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #0962aa;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #0962aa;
  display: inline-block;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #053b66;
}

/************************************/
/* HERO SECTION */
/************************************/

.section-hero {
  background-color: #e6eff7;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-image {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #e6eff7;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #0962aa;
  font-weight: 700;
}

/************************************/
/*  FEATURED IN  - (como aparece en).
    La idea es reslatar que la pizzeria
    fue publicada en distintos lugares, 
    revistas, diarios etc. para dar el 
    apoyo a la idea de que la pizzeria es 
    mas legitima */
/************************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  /* 100% no tiene opacity */
  opacity: 50%;
}

/************************************/
/* SECTION HOW IT WORKS */
/************************************/

.section-how {
  padding: 9.6rem 0;
  /* background-color: #e6eff7; */
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-img {
  width: 45%;
  border-radius: 19px;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-img-box::before,
.step-img-box::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.step-img-box::before {
  width: 65%;
  padding-bottom: 65%;
  background-color: #ffe6e6;
  z-index: -2;
}

.step-img-box::after {
  width: 55%;
  padding-bottom: 55%;
  background-color: #ff9999;
  z-index: -1;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/************************************/
/* SECTION MEALS */
/************************************/

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075); /* 7.5%*/
  border-radius: 11px; /* generalmente para esto usamos numeros impares */
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.5rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #92d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* https://heroicons.com/ 
   https://ionic.io/ionicons
*/

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #ff0000;
}

.meal-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/* Move all the list to the general.css porque es generico */
/* .list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #ff0000;
} */

/************************************/
/* SECTION TESTIMONIALS */
/************************************/

.section-testimonials {
  background-color: #e6eff7;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%; /* como son cuadradas las imagenes podemos usar 50%*/
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #777;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.gallery-item {
  overflow: hidden;
}

/************************************/
/* SECTION PRICING */
/************************************/

.section-pricing {
  padding: 9.6rem 0;
}

.plan-name {
  /* queremos que los nombres esten centrados  */
  /* pero es mejor crear una distincion entre las parrafos
  debajo del pricing-plan, que lo hace mas con sentido por 
  eso utilizamos el header*/
  /* que se parezca a los subheading */
  color: #ff0000;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-header {
  text-align: center;
  /* agregamos espacio despues */
  margin-bottom: 4.8rem;
}

.plan-price {
  /* queremos que el texto sea mas grande */
  font-size: 6.2rem;
  font-weight: 600;
  color: #444;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

/* we create a parent element to the botton so we can center it */

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

/* agregamos un background */
.pricing-plan {
  /* background-color: #fdf2e9; */
  /* esquinas. */
  border-radius: 11px;
  /* necesitamos algo de padding */
  /* padding: 4.8rem; */
  width: 75%;
}

/* pero hay un problema las columnas estan ocupadas por las cajas de los
precios y no deberian ser tan anchas. Acutalmente se expanden porque son 
elementos de tipo bloque y toman todo el espacio 100% del ancho; si inspeccionamos
las grilla vemos que ocupan la mayoria del espacion. por esto hacemos que 
la clase .pricing-plan tenga un ancho menor width: 75%.
Una vez que aplicamos ancho vemos que hay un espacion entre las dos considerable, 
queremos que sea incamente el gap, y no otro espacio , para ello colocamos
el item (price) de la izquierda que se alinea a la derecha pegado al gap. 
En otras palabras alinear el item de la grilla, y para ello utilizamos la 
propiedad justify-items.

Agregamos una clase en html para el precio izquierdo .pricing-plan */

/* .pricing-plan--starter {
  justify-self: end;
} */

/* nota: el contenido de la list no debe extenderse mas de una linea */

/* Los botones no estan alineados; para ello agregamos otro elemento 
a la lista izquierda pero con un icono diferent. Una equix posiblemente
Vamos a la pagina https://ionic.io/ionicons y buscamos por la palabra close
              <li class="list-item">
                <ion-icon class="list-icon" name="close-outline"></ion-icon>
              </li>
*/

/* Jerarquia visual, lo que queremos es proponer al usuario que haga click
en el precio de la derecha porque hace mas dinero, y podemos decir que es 
mas valor, ademas quitar un poco el enfacis del precio de la derecha, y 
esto es una tecnica para crear jerarquia visual entre componentes.
En practica dejamos el background para la caja de la derecha y vamos a 
remover el color de fondo de la caja de la derecha.
Agregando un estilo a la caja de la derecha
<div class="pricing-plan princing-plan--complete">
y removemos el background color de .pricing-plan y lo agregamos solo a la 
clase .pricing-plan--complete

*/

.pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;

  /* AGREGADO CUANDO TRABAJAMOS CON :AFTER */
  position: relative;
  overflow: hidden;
  /* FINAL AGREGADO CUANDO TRABAJAMOS CON :AFTER */
}

/* esto ya crea un efecto para guiar el usuario, aun asi la caja de la
izquierda se ve un poco perdida. y le damos un borde 
 */

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  /* esto crea un problema ya que los botones qudan desalineados, el boton
  de la deracha esta un poco mas arriba, y porque la caja de la izquierda bajo 
  el boton en 2px. Esto siempre si controlamos el modelo de caja agrega al total, 
  Necesitamos remover estos 2px; en la clase 
  
  .pricing-plan--starter 

  quitando el padding de .princing-plan y lo agregamos a 
  .pricing-plan--complete 
  padding: 4.8rem;

  y para compensar en el .pricing-plan--starter compensamos 
   padding: 4.6rem;

   */
  padding: 4.8rem;
}

/* ahora podemos sobresaltar algunos numeros usando el <strong>  */

/* Tambien queremos agregar un ribbon (moño) para indicar que el de la 
derecha es el de mejor valor.  Vamos a utilizar un psudo element, 
before o after */

.pricing-plan--complete::after {
  content: 'Mejor Valor';
  /* colocamos el elemento en la posicion correcta, usamos posicion abosulta
     y el parent .princing-plan--complete con position: relative*/
  position: absolute;

  top: 6%;
  right: -18%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ff0000;
  color: #fff;
  padding: 1rem 8rem;
  transform: rotate(45deg);
}

/* tenemos que encontrar el numbero correcto para top y right 
   Usamos porcentajes porque es el mejor modo cuando construimos 
   un layout flexible. 
   
   top: 6%;
  right: -7%;
  
  Lo ultimo que tenemos que hacer es cortar los corners del ribbon.
  para ello tenemos que colocar  overflow: hidden; en el elemento padre
  
  .pricing-plan--complete
  
  Aun asi no se ve bien porque no completa el espacio total, para eso
  tenemos que jugar con el padding y cambiar la posicion tambien */

/* Ahora inicamos la seccion Featues, y necesitamos otra grilla con 
  4 columnas justamente despues, pero cuando agreagamos esta nueva
  Grilla y vemos que esta pegada a la grilla de arriba, necesitamos
  que funcione en este tipo de situaciones automaticamente. Para ello
  agregamos un margin-bottom a la clase .grid  de 9.6rem.
  Sin embargo vemos que esto esta aplicado en varias partes de la pagina, 
  se corrije de la siguiente manera, agregando una opcion a la clase .grid

  .grid:last-child con margin-bottom: 0;

  debajo de la clase .grid 

  .grid:last-child {
    margin-bottom: 0;
  }

  Hay otra psuedo clase una grilla que no es el ultimo hijo, 
  .grid:not(:last-child) {
    margin-bottom: 6.9rem
  }
   */
